.background-image {
  background-image: url(../images/coffee-Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#main-section {
  padding: 0px;
}
.test {
  opacity: 0.5;
}

.Menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 70vh;
padding: 20px
}

.Basket {

height: 70vh;
overflow-y: scroll;
margin-left: 20px 
}

.MenuList {

  height: 70vh;
}